# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js

# Optional npm cache directory
.npm

# Parcel-bundler cache
.cache

# Next.js build output
.next

# Nuxt.js build output
.nuxt
dist

# Gatsby files
.cache/
public

# Vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# Temporary directories and files
temp/
*.tmp
*.log
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Tailwind output
**/tailwind.css

